.headerrec{
  color: red;
  font-size: 50px;
}
img{
  height: 80px;
  width: 80px;
}
table, tr, th, td{
  border: 2px solid black;
  border-radius: 5px;
  border-style: double;
  padding: 10px;
  margin: auto;
  align-content: center;
  text-align: center;
}
table{
  width: 1000px;
}
